body {
    background: black;
}

hr {
<<<<<<< HEAD
    background-color: #17A3B8;
    height: 2px;
}

.parrafo-avion text-light {
     width: 50px;

}

=======
  background-color: #17A3B8;
}
>>>>>>> main
