body {
    background: black;
    font-family: 'Open Sans', Times, serif;
}

hr {
    background-color: #17A3B8;
    height: 1px;
    width: 90%;
}

.redes {
    background-color: #17A3B8;
}

.navbar-opacity {
    background-color: black;
    opacity:0.9;
    transition: all 1s ease;
} 

.bg-transparent {
    transition: all 1s ease;
}
